<div data-action="setDescription" >
    <a href="#" class="description-remove"><i class="icon-trash"></i></a>
    <a href="#" class="description-true" >
        {% if description %}{{description}}{% else %}<%= description %>{% endif %}
    </a>
</div>