<div class="nav">
    <ul class="nav nav-tabs unstyled inline">
        <li><a href="?=/"><i class="icon-home" ></i>Home</a></li>
        <li><a href="?=/favorites"><i class="icon-star" ></i>Favorites</a></li>
    </ul>
</div>